:root {
    --font-family-accent: 'Oswald', sans-serif;
    --font-size-title: clamp(42px, 2.7vw, 52px);

    --color-light: #dbdada;
    --color-alternate: #991e99;
    --color-alternate-logo: #afafaf;

    --margin-navigation: 30px;
    --navigation-heigth: 100px;
}