@import 'normalize';
@import 'fonts';
@import 'variables';
@import 'visually-hidden';

* {
    transition: ease-in-out 150ms;
    color: var(--color-light);
}

body {
    font-family: var(--font-family-accent);
    line-height: 1.75;
    background-color: #131619;
    overflow: auto auto;
}

.upperfloor {
    width: 100%;
    height: var(--margin-navigation);
}

a {
    text-decoration: none;
}

section {
    padding-bottom: calc(var(--navigation-heigth) + var(--margin-navigation) + 20vh);
}

.active {
    background-color: rgba(52, 31, 146, 0.5);
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.header {
    top: 0px;
    width: auto;
    height: var(--navigation-heigth);
    display: flex;
    padding: 25px 50px;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    position: sticky;
    z-index: 100;

    & nav a:hover {
        color: var(--color-alternate);
        font-size: 1.1em;
    }

    &__logo {
        margin: 15px 25px;
        width: 50px;
        height: 50px;
    }

    &__logo:hover {
        fill: var(--color-alternate-logo);
    }

    &__menu__list {
        display: flex;
        text-transform: uppercase;
    }

    &__menu__item {
        color: #FFFFFF;
    }

    &__menu__item:hover {
        color: var(--color-alternate);
    }

    &__menu__item:not(:last-child) {
        margin-right: 25px;
    }

    &__contacts {
        text-transform: uppercase;
        padding: 15px 25px;
        border: 2px solid rgb(145, 145, 145);
        border-radius: 30px;
        background-color: #222425;
        transition: ease-in-out 200ms;
    }

    &__contacts:hover {
        border: 2px solid var(--color-light);
        background-color: #2f3233;
        scale: 1.1;
    }
}

.content {
    padding: 20vh 15vw;
}

.grid_default {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.grid_item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 52px;

    &__description {
        display: grid;
    }

    &__description p {
        margin-bottom: 20px;
    }

    &__description__fullname {
        color: var(--color-alternate);
    }

    &__description__link {
        display: flex;
        width: 250px;
        height: 80px;
        padding: 30px;
        font-size: 42px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 3px solid tomato;
        border-radius: 25px;
        background-color: transparent;
    }

    &__description__link:hover {
        color: rgb(255, 255, 255);
        background-color: #2f3233;
        scale: 1.3;
    }

    &__image__svg {
        width: 100%;
        height: 100%;
        fill: var(--color-light);
    }

    &__image__svg path:hover {
        fill: #2f3233;
    }
}

.skills {
    font-size: 36px;
    align-items: start;

    &__hard,
    &__soft {
        display: flex;
        flex-direction: column;
        padding-inline: 20px;
        align-items: center;
        justify-content: center;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        padding: 25px 100px;
        border: 5px solid rgb(71, 114, 255);
        border-radius: 25px;
        background-color: transparent;
        margin-bottom: 80px;
    }

    &__list {
        width: 100%;
        padding-inline: 10px;
    }

    &__title:hover {
        background-color: #2f3233;
    }

    & li {
        border: 2px solid rgb(71, 114, 255);
        background-color: #2f3233;
        position: relative;
    }

    & li:nth-child(2n) {
        // border: 2px solid red;
        background-color: rgb(155, 155, 155, 0.5);
    }

    & li:not(:last-child) {
        margin-bottom: 30px;
    }

    &__item {
        font-size: 24px;
        padding-block: 20px;
        padding-inline: 50px;
    }

    &__item::before {
        content: '';
        position: absolute;
        width: 10px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: khaki;
        top: calc(20px + 0.75em);
        left: 25px;
    }
}